div {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center center;
  text-align: center;
}
.body-container {
  display: inline;
}


.greetings::before {
  //content: attr(data-greetings) 'Greetings';
}

.good-tidings::before {
  //content: attr(data-good-tidings) 'Good tidings.';
}

.salutations::before {
  //content: attr(data-salutations) 'Salutations.';
}
