<!DOCTYPE html>
<html>
<head>
  <title>App</title>
    <style>
      <%= @css %>
    </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='body-container'>
  <%= yield %>
</div>
<div class='greetings'>
  <img src='out.png'></img>
</div>
<div class='good-tidings'>
  <img src='out.png'></img>
</div>
<div class='salutations'></div>

</body>
</html>
