<!DOCTYPE html>
<html>
<head>
  <title>App</title>
    <style>
      <%= @css %>
    </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='body-container'>
  <%= yield %>
</div>
<div class='greetings'>
  <img src='eca.gif'></img>
</div>
<div class='good-tidings'>
  <img src='eca-fft-phase.gif'></img>
</div>
<div class='salutations'>
  <img src='eca-fft-mag.gif'></img>
</div>

</body>
</html>
